<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.programcx.foxnaserver.mapper.SysMainMetricsMapper">
    
    <select id="selectRecentMetrics" resultType="cn.programcx.foxnaserver.entity.SysMainMetrics">
        SELECT 
            MIN(id) as id,
            FROM_UNIXTIME(
                FLOOR(UNIX_TIMESTAMP(record_time) / #{groupSeconds}) * #{groupSeconds}
            ) as record_time,
            AVG(cpu_usage) as cpu_usage,
            AVG(memory_used) as memory_used,
            AVG(memory_total) as memory_total,
            AVG(disk_used) as disk_used,
            AVG(disk_total) as disk_total,
            AVG(network_recv_speed) as network_recv_speed,
            AVG(network_sent_speed) as network_sent_speed,
            MIN(create_time) as create_time
        FROM sys_main_metrics
        WHERE record_time BETWEEN #{startTime} AND #{endTime}
        GROUP BY FLOOR(UNIX_TIMESTAMP(record_time) / #{groupSeconds})
        ORDER BY record_time ASC
    </select>
    
</mapper>
